[Desktop Entry]
Categories=System;
Comment=Displays system information
Comment[ru]=Показывает информацию о системе
Exec=/usr/bin/hardinfo
Icon=info
Keywords=linux;kernel;system;hardware;cpu;processor;capabilities;frequency;memory;ram;board;resources;sensors;devices;usb;pci;display;network;benchmark;test;
Name=System Profiler and Benchmark
Name[es]=Informacion y Rendimiento del Sistema
Name[fr]=Informations et Benchmarks du Système
Name[pt_BR]=Informações e Testes do Sistema
Name[ru]=Информация о системе и тестирование
StartupNotify=true
Terminal=false
Type=Application
